@import url('https://fonts.googleapis.com/css?family=Poppins:ital, wght@0,100;0,200;0,300;0,400;0,500; 0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400; 1,500; 1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
font-family: "Poppins", sans-serif;
color-scheme: dark;
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar on Chrome, Safari */
}

.no-scrollbar {
    -ms-overflow-style: none;  /* Hides scrollbar on Internet Explorer */
    scrollbar-width: none;     /* Hides scrollbar on Firefox */
}
@keyframes gradient-shift {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient-shift 5s ease infinite;
}
